.desc {
     height: 85vh;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
 }

 .mybtn{
    background: black;
    color: beige;
    padding: 15px;
    font-weight: bolder;
    font-family: cursive;
    width: 200px;
    border: none;
 }
 .mybtn:hover{
    background: none;
    border: 2px solid black;
    color: black;
    transition: .4s;
 }